{% load static%}
<html lang="en">

    <head>
        <title>
            {% block titulo%}
            {% endblock %}
        </title>
        
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>CochesNet</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'marcas' %}">Marcas</a></li>
                <li><a href="{% url 'coches' %}">Coches</a></li>                
                <li><a href="{% url 'sectores' %}">Sectores: coches por marca</a></li>                
                <li><a href="{% url 'barras' %}">Barras: coches por marca</a></li>                
                <li><a href="{% url 'lineas' %}">Lineas: coches por año de fabricación</a></li>                
            </ul>
        </nav>
        <main>
            <section>
                {% block contenido %}
                {% endblock %}

            </section>
        </main>
    </body>
</html>