<nav style="background:#2a6df4;color:white;padding:10px;">
    <a href="{{ url_for('index') }}" style="color:white;margin-right:10px;">Inicio</a>
    <a href="{{ url_for('actividad_01') }}" style="color:white;margin-right:10px;">Inicio</a>

    <!-- <a href="{{ url_for('filtro') }}" style="color:white;margin-right:10px;">Longitud</a>
    <a href="{{ url_for('ciudades') }}" style="color:white;margin-right:10px;">Ciudades</a>
    <a href="{{ url_for('usuarios') }}" style="color:white;margin-right:10px;">Usuarios</a>
    <a href="{{ url_for('entradas') }}" style="color:white;margin-right:10px;">Entradas</a> -->
</nav>